nav {
    background-color: lightblue;
    padding: 10px 0;
    display: flex; /* Use flexbox */
    justify-content: flex-end; /* Align items to the end (right) */
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  li {
    margin-right: 20px;
  }
  
  li:last-child {
    margin-right: 0;
  }
  
  /* Style the Link component */
  Link {
    text-decoration: none;
  }
  
  /* Style the Link components inside list items */
  li a {
    background-color: darkblue;
    padding: 8px 16px;
    border-radius: 4px;
    color: white;
  }
  
  /* Hover effect for the buttons */
  li a:hover {
    background-color: #001F3F;
  }
  
  